.divrow{
    display:flex;
    flex-direction:row;
}
.divcol{
    width:50%;

}
.img{
    width:100%;
    margin-top:8%;
}
.form{
    background-color: WHITE;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color:black;
  font-size: 18px;
  margin-top: 10%;
}

.group{
    margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.mb-3{
    display:flex;
    flex-direction: column;
}

.btn{
    color:white;
    font-size: 20px;
    background-color: #263A69;
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
    height: 30px;
  }

.img2{
    width:20%;
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    text-align: right;
}

.container{
    background: linear-gradient(to right, #A9BCD0, #D8DBE2);
}