body{
    font-family: 'Roboto Condensed', sans-serif;
}
.divrow{
    display:flex;
    flex-direction:row;
    gap: 2%;
}

.divcol1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.img{
    width:100%;
    margin-top:8%;
}

.container {
    width: 30%;
    position: relative;
    margin: 0 auto; }

.form{
    background-color: WHITE;
    opacity: 0.7;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 800px;
    color:black;
    box-shadow: 0 3px 10px black;
    font-size: 20px;
}

.group{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.mb-3{
    display:flex;
    flex-direction: column;
}

.btn{
    color:white;
    font-size: 20px;
    background-color: #263A69;
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
    height: 30px;
}

.img2{
    width:25%;
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    text-align: right;
}

body{
    background: linear-gradient(to right, #A9BCD0, #D8DBE2);

}

h5{
    margin-right: 8%;
}

.label{
    font-size: 16px;
}

.label-first{
    font-size: 19px;
}

.signup-content{
    width: 50%;
    margin-top: -5%;
    margin-left: 6%;
    opacity: 0.8;
}

.maintitle{
 font-size: 30px;
}

.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 30px;
    margin-top:-5%;
}

.paragraphe{
    font-size: 15px;
}

.texttitle{
}

.navbar{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    background-color: white;
    color:Black;
}