.smooth-dnd-container.horizontal {
  margin-left: 10rem;
}

.smooth-dnd-draggable-wrapper{
  margin-left: 1%;
}

.hlfXkk{
  background: white;
}

.pagetitle{
  height: 6rem;
  display:flex;
  flex-direction:row;
  justify-content: end;
  gap: 6%;
  margin-top: -20px;
}

.searchfield{
  margin-top: 9%;
}

.searchicon{
  margin-top: 15%;
  font-size: 35px;
}
.divsearch{
  margin-right: 12%;
}
