body{
  background-image: "url('/citywallpaper.jpeg')" ;
}

.divcontainer{
  display:flex;
  justify-content: center;
  height: 100%;
}

.tasks{
  color:black;
}

.columns{
  border-radius: 15px;
}


.cards{
  border-radius: 15px;
  background-color: black;
  width: 80%;
  margin: 0 auto;

}

.columns{

}

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.btn-add{
  display: flex;
  flex-direction: row;
  background-color: #21325E;
  align-items: center;
  justify-content: center;
  color:white;
  border: 1px solid#21325E;
  border-radius: 5px;
  width: 10rem;
  height: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bold;
  font-size: 24px;

}

.btn-add:hover{
  background-color:black;
  cursor:pointer;
  width: 10.5rem;
  height: 4rem;
  font-size: 22px;
}

.submit-btn{
  cursor:pointer;
  position: fixed;

}

.limitedate{
  display: flex;
  flex-direction: row;
  gap: 5%;
}
