
.column{
    background: white;
    opacity: 0.7;
    width: 19.5rem;
    height: 500px;
    border-radius: 10px;
    margin-top: 3%;
    border: 1px solid black;
  
  }
  
  .inputfield{
    border: 1px solid black;
  }
  
  .title{
    text-align:center;
    margin-top: 3%;
  }
  
  hr{
    height: px;
    background-color: black;
  }