.projectcontainer{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 5px 5px 5px  black; 

}


.row2{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-bottom: 25px;
}

.colleft{
    width:70%;
}

.colright{
    width: 70%;
}   

.tabledaates{
    margin-top: 5px;
}


.row1{
    float: right;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon{
    font-size: 22px;
}

.icon:hover{
    cursor:pointer;
    font-size: 25px;
}

.showbutton{
    background-color: white;
    opacity: 1;
    border: 2px solid black;
    width: 40%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    color:black;
    border-radius: 5px;
    height: 3rem;
}

.showbutton:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    font-size: 17px;
}

.img{
    border: none;
}

.rowdate{
    display: flex;
    flex-direction: row;
    gap: 15px;
}




.divbtnp{
    margin-top: 30px;
}
.btn-add-project{
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 16%;
    display: block;
    margin-left: AUTO;  
    margin-right: AUTO;
    position: sticky;
    border-radius: 5px;
    height: 3.2rem;
}

.btn-add-project:hover{
    cursor: pointer;
    background-color: white;
    color:black;
    border: none;
}