.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Pictures {
    margin: 10px;
    cursor: grab;
  }
  
  img {
    margin: 5px;
  }
  
  .Board {
    width: 500px;
    height: 500px;
    border: 2px solid black;
  }
  
  .Card{
    border:2px solid black;
    background: greenyellow;
  }
  
  .draggablecard{
    border: 1px solid black;
    background: yellow;
    margin: 5px;
    width: 150px;
  }