.columns{
    width:100%;
    display:flex;
    flex-direction:row;
    gap:30px;
    height: 38rem; 
  }
  
.add-btn{
    color: black;
    background: blue;
    width: 10rem;
    height: 3rem;
    margin-left: 50%;
    border-radius: 100%;
    cursor:pointer;
    opacity: 0.7;

  }

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-left: 45%;
}
  
.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.bn632-hover:focus {
    outline: none;
}
  
.bn632-hover.bn20 {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
  