
.card{
    background: grey;
    width: 90%;
    justify-items:center;
  }
  
  .cardTitle{
    width: 50%;
    color: orange;
  }
  
  .status{
    display:flex;
    flex-direction:row;
    gap:10px;
  }
  
  .inputRadio{
    display:flex;
    flex-direction:column;
  }
  
  .priority{
    display:flex;
    flex-direction:row;
    justify-content:end;
    font-size:25px;
  }

