* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
  html {
    font-size: 10px;
    min-height: 100vh;
    font-family: 'Bangers';
    min-height: 100vh;
  }
  body {
    min-height: 100vh;
  }
  
  .App {
    padding: 2rem;
    transition: margin-left 2.7s;
    overflow: hidden;
    width: 100%;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  nav a {
    display: flex;
  }
  aside {
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
  }
  
  nav {
    background: #333;
    color: #fff;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    /* transition: 0.7s all ease-in-out; */
  }
  
  .opneSidebar {
    transition: 0.7s;
    width: 230px;
  }
  
  #close {
    font-size: 4.3rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
  
  .to-right {
    /* margin-left: 220px; */
    margin-left: 250px;
    transition: all 300ms ease-in-out;
  }
  
  .navlist {
    padding: 1rem 3rem;
  }
  .navlist li {
    margin: 1rem 0;
    transition: all 300ms ease-in-out;
  }
  .navlist li a {
    color: #fff;
    font-size: 2rem;
    transition: all 300ms ease-in-out;
  }
  
  .navlist li a:hover {
    color: #2748b4;
    padding: 0.3rem 0.2rem;
    border-bottom: #2748b4 2px solid;
    width: 50%;
  }
  