.sidebar {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: 13.4rem;
}

.sidebarsmall {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: 3rem;
}

#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.navlink{
  list-style-type: none;
  color:white;
  text-decoration: none;
  font-size: 1.05rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: bold;
}

.icones{
  font-size: 1.6rem;
  margin-left: 4%;
  color:white;
}

.iconessmall{
  font-size: 1.6rem;
  margin-left: 15%;
  color:white;
} 

.sidebar-sticky{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}


.divlogout{
  margin-top: 14rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.divlink{
  height: 3rem;
  display: flex;
  align-items: center;
}

.divlink:hover{
  background-color: blue;
  font-weight: bold;
}

.divlogout:hover{
  background-color: blue;
}

.logo{
  margin-left: auto;
  margin-right: auto;
}




